/DDF/build/
/DDF/dist/
DDF/nbproject/private/private.properties
DDF/nbproject/project.properties
*.properties
*.properties
DDF/nbproject/private/private.xml
*.properties
DDF/nbproject/private/private.xml
DDF/nbproject/private/private.xml
*.xml
*.xml
*.xml
